.idea/
*.pyc
bcy/photo/
Blog/photo/
fkoji/photo/
googlePlus/photo/
instagram/photo/
lofter/photo/
tumblr/photo/
twitter/photo/
weibo/photo/
instagram/video/
tumblr/video/
weibo/video/
log/
*-*_*_*.data
main/main.py
stop
pause