.idea/
*.pyc
Blog/photo/
bcy/photo/
fkoji/photo/
googlePlus/photo/
instagram/photo/
lofter/photo/
meipai/video/
miaopai/video/
tumblr/photo/
twitter/photo/
weibo/photo/
instagram/video/
tumblr/video/
twitter/video/
weibo/video/
log/
*-*_*_*.data
stop
pause
